# Database
DATABASE_URL=mysql://root:rJ9g118VOoyWI2prVdUJ@localhost/admin

# Auth0 configuration
# Get from [Auth0 Dashboard](https://manage.auth0.com) > Applications > YourAppName > Quick Start > Regular Web App > Next.js
AUTH0_SECRET=
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

# random string to encrypt cookie
API_TOKEN_SECRET=

# S3 or DigitalOcean Space config
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=
STORAGE_ENDPOINT=https://xxx.digitaloceanspaces.com
STORAGE_BUCKET_NAME=
STORAGE_REGION=us-east-1
